@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/roboto/Roboto-Regular.ttf); }
@font-face {
  font-family: "Wisdom-Script";
  src: url(../fonts/Wisdom-Script/Wisdom-Script.otf); }
@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins/Poppins-Regular.ttf); }
@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins/Poppins-Medium.ttf); }
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf); }
@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url(../fonts/Libre-Baskerville/LibreBaskerville-Regular.ttf); }
@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url(../fonts/Libre-Baskerville/LibreBaskerville-Bold.ttf); }
@font-face {
  font-family: "Sacramento-Regular";
  src: url(../fonts/Sacramento/Sacramento-Regular.ttf); }
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html, body {
  font-size: 10px;
  font-family: 'Poppins-Regular';
  color: #616161; }

body {
  overflow-x: hidden;
  line-height: 1.8; }

h1, h2, h3, h4, h5, h6 {
  color: #313131; }

.blockHeader__caption {
  margin-bottom: 3.5rem;
  font-family: "LibreBaskerville-Bold";
  font-size: 5rem;
  color: #313131; }
.blockHeader__text {
  margin-bottom: 7.5rem;
  font-size: 1.8rem; }
.blockHeader_light h2, .blockHeader_light p {
  color: #fff; }
.blockHeader_dark h2, .blockHeader_dark p {
  color: #313131; }

.captions-content, .aboutUsText__caption, .ourFocus__caption, .portfolio__caption, .teamDescription__caption, .work__caption {
  margin-bottom: 3.5rem;
  font-family: "LibreBaskerville-Bold";
  font-size: 5rem;
  color: #313131; }

.caption-description, .ourFocus__text, .portfolio__text, .teamDescription__text, .work__text {
  margin-bottom: 7.5rem; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.block-shadow, .services__wrap, .team__wrap, .tab_container, .table {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.btn {
  border-radius: 30px;
  padding: 1.9rem 4.1rem;
  background-color: #fc5f45;
  font-family: 'Poppins-SemiBold';
  color: #fff;
  transition: all .2s; }

.btn:hover {
  color: #fff;
  background-color: #fc4d30;
  -webkit-transform: scale(1.03);
  transform: scale(1.03); }

.btn:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98); }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.nav {
  padding: 2.4rem 0; }

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a:hover {
  text-decoration: none; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; }

.logo {
  margin-right: 2rem;
  font-size: 3.5rem;
  font-family: "Wisdom-Script";
  transition: 1s; }
  .logo:first-letter {
    color: #fc5f45; }

.logo:hover {
  transform: rotate3d(0, 1, 0, 360deg); }

.menu {
  display: flex;
  flex-wrap: wrap; }
  .menu__item {
    margin-right: 1rem; }
    .menu__item:last-child {
      margin-right: 0; }
  .menu__link {
    font-size: 1.4rem;
    color: #272727; }
    .menu__link:hover {
      color: #707070; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.description {
  margin-bottom: 15rem;
  padding: 17.7rem 0;
  background-color: #3f4049; }

.descriptionText {
  margin-bottom: 5rem;
  font-family: "LibreBaskerville-Regular";
  font-size: 6rem;
  color: #fff; }

.descriptionBtnWrap {
  margin-bottom: 8.3rem; }

.promises__item {
  margin-bottom: 3rem; }
  .promises__item_green {
    color: #38c695; }
  .promises__item_purple {
    color: #b27cf5; }
  .promises__item_orange {
    color: #feb960; }
.promises__img {
  margin-bottom: 3.8rem;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }
  .promises__img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
.promises__text {
  font-size: 1.8rem;
  font-family: 'Poppins-Medium'; }

.aboutUs {
  margin-bottom: 15rem; }

.aboutUsWrap {
  position: relative; }

.aboutUsPicture__bgImg {
  border: 10px solid #ccc;
  min-height: 700px;
  background: url(../img/south-alabama-forest.jpg) no-repeat;
  background-size: cover; }

.aboutUsText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  border: 3px solid;
  border-image-slice: 0 0 3 0;
  border-image-width: 0 0 3px 0;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(../img/line.png);
  padding: 8rem;
  background-color: #fff; }
  .aboutUsText__text {
    margin-top: 5rem;
    font-family: 'Poppins-Regular';
    font-size: 1.5rem; }

.ourFocusWrap {
  background-color: #eee;
  padding: 13.5rem 0; }

.ourFocus__text {
  font-size: 1.8rem; }

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Wobble Horizontal end */
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Wobble Vertical end*/
/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* Pulse end */
.explore {
  position: relative; }

/* Magnific Popup CSS */
.popup-item {
  position: relative;
  display: block;
  margin-bottom: 3rem;
  overflow: hidden;
  transition: .3s; }
  .popup-item:hover {
    transform: scale(1.03); }
  .popup-item::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: url("../img/zoom.png");
    z-index: 9;
    transition: 0.4s; }
  .popup-item:hover:before {
    opacity: 1; }

.pupup-img {
  display: inline-block; }

img.mfp-img {
  width: 85vw; }

.popup-content {
  position: relative;
  overflow: hidden; }

.popup-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -75px;
  border: 3px solid;
  border-image-slice: 0 0 3 0;
  border-image-width: 0 0 3px 0;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(../img/line-small.png);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding: 2rem 0;
  width: 100%;
  background-color: #fff;
  font-family: 'Poppins-Medium';
  font-size: 1.8rem;
  color: #313131;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.popup-item:hover .popup-description {
  bottom: 0; }

.services__box {
  margin-bottom: 1.5rem; }
.services__wrap {
  padding: 6.5rem 3.3rem;
  background-color: #fff;
  border-bottom: 3px solid; }
  .services__wrap_red {
    border-bottom-color: #fc5f45; }
  .services__wrap_green {
    border-bottom-color: #38c695; }
  .services__wrap_purple {
    border-bottom-color: #b27cf5; }
  .services__wrap_orange {
    border-bottom-color: #feb960; }
.services__img {
  display: inline;
  margin-bottom: 3rem; }
.services__caption {
  margin-bottom: 3rem;
  font-family: 'Poppins-Medium';
  font-size: 2rem; }
.services__about {
  font-size: 1.5rem; }

.explore {
  background-color: #3f4049; }

.container1920 {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  max-height: 500px;
  overflow: hidden; }

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(63, 64, 73, 0.5); }
  .bg__caption {
    font-size: 3rem;
    line-height: 1;
    color: #fff; }

.portfolioWrap {
  margin-top: 14rem;
  margin-bottom: 12rem; }

.portfolio__text {
  font-size: 1.8rem; }

.teamWrap {
  padding: 14rem 0; }

.teamDescription__text {
  font-size: 1.8rem; }

.team__box {
  margin-bottom: .9rem; }
.team__wrap {
  border-bottom: 3px solid;
  padding: 5px 5px 2.2rem;
  overflow: hidden; }
  .team__wrap_red {
    border-bottom-color: #fc5f45; }
  .team__wrap_green {
    border-bottom-color: #38c695; }
  .team__wrap_purple {
    border-bottom-color: #b27cf5; }
  .team__wrap_orange {
    border-bottom-color: #feb960; }
.team__wrapImg {
  position: relative;
  margin-bottom: 2.2rem;
  width: 100%;
  height: 100%;
  background-size: cover; }
  .team__wrapImg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
    transition: all .3s; }
  .team__wrapImg_red:before {
    background-image: linear-gradient(to bottom, rgba(54, 247, 208, 0) 0%, #d9aca5 100%); }
  .team__wrapImg_green:before {
    background-image: linear-gradient(to bottom, rgba(54, 247, 208, 0) 0%, #a1cabb 100%); }
  .team__wrapImg_purple:before {
    background-image: linear-gradient(to bottom, rgba(54, 247, 208, 0) 0%, #c4b4d7 100%); }
  .team__wrapImg_orange:before {
    background-image: linear-gradient(to bottom, rgba(54, 247, 208, 0) 0%, #dac6ac 100%); }
  .team__wrapImg:hover:before {
    opacity: .3; }
.team__caption {
  margin-bottom: 1rem;
  font-size: 1.8rem; }
.team__caption_red {
  color: #fc5f45; }
.team__caption_green {
  color: #38c695; }
.team__caption_purple {
  color: #b27cf5; }
.team__caption_orange {
  color: #feb960; }
.team__about {
  font-size: 1.3rem; }

.tabs {
  padding: 0;
  list-style: none;
  overflow: hidden; }

.tabs > div a {
  display: block;
  background-color: #fff;
  color: inherit; }

.tabs > div.active {
  font-size: 0; }

.tabs > div.active::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 40px;
  background: url(../img/triangle.png); }

.tab_container {
  background-color: #fff; }

.tab_content {
  padding: 7.5rem; }

.tab_content .about {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: 'Poppins-Medium'; }

.tab_content .text {
  font-size: 1.5rem; }

.teamWrap {
  background-color: #eee; }

.statisticWrap {
  margin-bottom: 14rem;
  padding: 13rem 0;
  background: url("../img/statistic.jpg") no-repeat;
  background-size: cover; }

.statisticCol {
  margin-bottom: 4rem; }

.statistic__img, .statistic__count {
  margin-bottom: 2.5rem; }
.statistic__count, .statistic__about {
  display: inline-block;
  color: #fff; }
.statistic__count {
  font-family: 'Poppins-Medium';
  font-size: 2rem; }
.statistic__about {
  margin-bottom: 3rem;
  font-size: 1.5rem; }
.statistic i {
  font-size: 1.8rem; }
.statistic_red i {
  color: #fc5f45; }
.statistic_green i {
  color: #38c695; }
.statistic_purple i {
  color: #b27cf5; }
.statistic_orange i {
  color: #feb960; }

.workWrap {
  margin-bottom: 14rem; }

.work__text {
  font-size: 1.8rem; }

.steps {
  position: relative; }
  .steps__wrapImg {
    max-height: 300px;
    overflow: hidden; }
  .steps__img {
    width: 100%; }
  .steps__col {
    top: -5rem; }
  .steps__col_right {
    right: 0; }
  .steps__col_text {
    position: absolute; }
  .steps__description {
    border-bottom: 3px solid #fc5f45;
    padding: 4.5rem 2rem 7rem 11.5rem;
    background-color: #fff; }
    .steps__description_red {
      border-bottom: 3px solid #fc5f45; }
    .steps__description_green {
      border-bottom: 3px solid #38c695; }
    .steps__description_purple {
      border-bottom: 3px solid #b27cf5; }
    .steps__description_orange {
      border-bottom: 3px solid #feb960; }
  .steps__caption {
    font-size: 2.5rem; }

.table {
  padding: 3rem 0; }
  .table_green {
    border-top: 3px solid #38c695; }
  .table_red {
    border-top: 3px solid #fc5f45; }
  .table_purple {
    border-top: 3px solid #b27cf5; }
  .table__caption {
    margin: 0 0 3rem;
    font-family: 'Poppins-Medium';
    font-size: 2rem; }
  .table__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 3rem;
    border: 3px solid;
    border-radius: 50%;
    padding: 3px;
    width: 200px;
    height: 200px;
    color: #fff; }
    .table__circleTextSmall {
      font-size: 1.3rem; }
    .table__circleTextBig {
      font-size: 2.5rem; }
    .table__circle_green {
      border-color: #38c695; }
    .table__circle_red {
      border-color: #fc5f45; }
    .table__circle_purple {
      border-color: #b27cf5; }
    .table__circleInner {
      position: relative;
      border-radius: 50%;
      padding: 50%; }
      .table__circleInner_green {
        background: #38c695; }
      .table__circleInner_red {
        background: #fc5f45; }
      .table__circleInner_purple {
        background: #b27cf5; }
    .table__circleText {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .table__info {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 1.5rem; }
  .table__infoBold {
    font-family: 'Poppins-Medium'; }
  .table__btn {
    background-color: transparent;
    border: 2px solid; }
    .table__btn:hover {
      background-color: #38c695; }
  .table__btn_green {
    border-color: #38c695;
    color: #38c695; }
    .table__btn_green:hover {
      background-color: #38c695; }
  .table__btn_red {
    border-color: #fc5f45;
    color: #fc5f45; }
    .table__btn_red:hover {
      background-color: #fc5f45; }
  .table__btn_purple {
    border-color: #b27cf5;
    color: #b27cf5; }
    .table__btn_purple:hover {
      background-color: #b27cf5; }

.testimonialsWrap {
  margin-bottom: 14rem;
  padding: 14rem 0;
  background-color: #3f4049; }

.testimonials {
  position: relative; }
  .testimonials__wrap {
    border-bottom: 3px solid #fc5f45;
    padding: 3rem 1rem 3rem 42.5rem;
    background-color: #fff; }
  .testimonials__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 10px solid rgba(0, 0, 0, 0.2);
    max-width: 384px; }
  .testimonials__melina {
    display: inline-block;
    margin-top: 2rem;
    font-size: 4rem;
    line-height: 1;
    font-family: "Sacramento-Regular"; }

.selectWrap {
  margin-bottom: 12rem; }

.select {
  margin-bottom: 6rem; }

.selectBox__img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.3rem; }
.selectBox__caption {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
  font-family: 'Poppins-Medium'; }
.selectBox__text {
  margin-top: 1.5rem;
  font-size: 1.5rem; }

.start__text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.5rem;
  font-size: 2.5rem; }

.blogWrap {
  margin-bottom: 14rem;
  padding-top: 13rem;
  padding-bottom: 15rem;
  background-color: #eee;
  display: flex; }

.blog {
  display: flex; }

.blogCol_first {
  display: flex;
  align-content: stretch;
  align-items: stretch; }

.blogBox {
  margin-bottom: 2rem;
  background-color: #fff; }
  .blogBox:last-child {
    margin-bottom: 0; }
  .blogBox_red {
    border-bottom: 3px solid #fc5f45; }
  .blogBox_green {
    border-bottom: 3px solid #38c695; }
  .blogBox_purple {
    border-bottom: 3px solid #b27cf5; }
  .blogBox_orange {
    border-bottom: 3px solid #feb960; }
  .blogBox__wrapImg {
    position: relative; }
  .blogBox__description {
    position: absolute;
    left: 5rem;
    bottom: 3rem; }
  .blogBox__description_static {
    position: static; }
  .blogBox__name {
    margin-right: 2rem;
    font-size: 1.5rem;
    font-family: 'Poppins-Medium'; }
    .blogBox__name_red {
      color: #fc5f45; }
    .blogBox__name_green {
      color: #38c695; }
    .blogBox__name_purple {
      color: #b27cf5; }
    .blogBox__name_orange {
      color: #feb960; }
  .blogBox__date {
    font-size: 1.3rem; }
  .blogBox__about {
    background-color: #fff;
    padding: 2.5rem 5rem 3rem 5rem; }
  .blogBox__caption {
    font-size: 2rem;
    font-family: 'Poppins-Medium'; }
  .blogBox__text {
    font-size: 1.5rem; }
  .blogBox__link {
    cursor: pointer;
    font-family: 'Poppins-Medium'; }
    .blogBox__link_red {
      color: #fc5f45; }
    .blogBox__link_green {
      color: #38c695; }
    .blogBox__link_purple {
      color: #b27cf5; }
    .blogBox__link_orange {
      color: #feb960; }

.subscribe {
  margin-bottom: 15rem; }
  .subscribe__caption {
    font-size: 3rem; }
  .subscribe__formWrap {
    display: flex;
    justify-content: center;
    overflow: hidden; }
  .subscribe__email {
    border: 1px solid #eee;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 1rem 1rem;
    width: 30%;
    font-size: 1.8rem; }
    .subscribe__email:focus {
      outline: none;
      background-color: #eee; }
  .subscribe__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */

/*# sourceMappingURL=style.css.map */
