@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
//    font-style: normal;
//    font-weight: normal;
}
@font-face {
    font-family: "Wisdom-Script";
    src: url(../fonts/Wisdom-Script/Wisdom-Script.otf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "LibreBaskerville-Regular";
    src: url(../fonts/Libre-Baskerville/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: "LibreBaskerville-Bold";
    src: url(../fonts/Libre-Baskerville/LibreBaskerville-Bold.ttf);
}