$attention-clr: #fc5f45;
$attention-clr-lighter: #fc4d30;

$menu-link-clr: #272727;
$menu-link-clr-hover: #707070;

$bg-clr-light: #fff;
$bg-clr-less-light: #eee;
$bg-clr-dark: #3f4049;
$bg-clr-less-dark: #ccc;

$txt-clr-light: #fff;
$txt-clr-main: #616161;
$txt-clr-caption: #313131;

$icon-clr-red: #fc5f45;
$icon-clr-green: #38c695;
$icon-clr-purple: #b27cf5;
$icon-clr-orange: #feb960;

$img-bg-clr: #daaca4;
$img-bg-clr: #ccc;



//$nav-clr: #DDFE00;

$top-btn-padding: .4rem; 



$btn-clr: #FFC034;
$btn-clr-hover: #FFCD5D;

$btn-enter-clr: #B9CF26;
$btn-enter-clr-hover: #A4BC00;

//$btn-tabs-hover-clr: #;
//$btn-form-clr: #;
//
//$footer-bg: #;
//
//$link-nav-clr: #;
//$link-hover-clr: #;


$border-radius: 6px;

//$border-form-clr: #;